{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		</div>
	{% endfor %}
{% endfor %}
