{% extends 'base-login.html.twig' %}

{% block title %}Mot de passe oublié - Maestra
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center align-items-center" style="height:100vh">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<form method="post">
							<h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
							<p>Veuillez entrer votre adresse email pour changer votre mot de passe.</p>
							{% for label, messages in app.flashes %}
								{% for message in messages %}
									<div class="container">
										<div class="alert alert-{{ label }}">
											{{ message }}
										</div>
									</div>
								{% endfor %}
							{% endfor %}

							<label for="inputEmail">Email</label>
							<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<button class="btn btn-lg btn-primary mt-2" type="submit">
								Envoyer
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
