{# '@images/' refers to the Twig namespace defined earlier #}
<img src="{{ email.image('@images/mailing-maestra-top.png') }}" alt="Logo">

{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1, p {
            color: #42330d;
        }

        
    </style>

<h1>Bonjour {{ firstname }} ! </h1>

<p>
    Voici le lien pour réinitialiser votre mot de passe : <strong>https://maestra.chrisdev.fr/reinitialiser-mot-de-passe/{{token}}</strong>
</p>

<p>
  Cliquez ou copiez/collez ce lien et suivez les instructions indiquées sur la page.
</p>

<p>
Merci et à très bientôt !</p>
<p><strong>L'équipe Maestra</strong></p>

{% endapply %}

<img src="{{ email.image('@images/mailing-maestra-bottom.png') }}" alt="Logo">