{# '@images/' refers to the Twig namespace defined earlier #}
<img src="{{ email.image('@images/mailing-maestra-top.png') }}" alt="Logo">

{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1, p {
            color: #42330d;
        }

        
    </style>
<h1>Bonjour {{ firstname }} !</h1>

<p>
  Votre mot de passe a bien été modifié, comme vous l'avez demandé.
</p>

<p>Pour consulter ou changer les informations relatives à votre compte, cliquez sur le menu Mon compte en haut à droite du site.</p>

<p>
Merci et à très bientôt !</p>
<p><strong>L'équipe Maestra</strong></p>

{% endapply %}

<img src="{{ email.image('@images/mailing-maestra-bottom.png') }}" alt="Logo">